body{margin: 0;background: #38424b; color:#444; text-align: center;}
h1{color: #f39c12;padding: 10px;font-family: monospace;text-align: left; }
h4{padding: 20px;text-align: center;}
.form-data{padding:30px;}
.active{color:#f39c12;}
.error{color:white;padding: 10px;background:#f39c12;opacity: 0.9}
h1 b{color:white;}

#site-container{background: white;}
header{margin:0;background: #38424b;}
footer{margin:0;background:#38424b;text-align: center;height: 50px;padding-top:40px;}
footer p{color: #eee;font-family: monospace;font-size: 16px;margin: 0;padding: 0;}
#wrapper{overflow: hidden;}
li a{text-decoration: none;color:#fff;padding: 10px;
 font-family: monospace;
font-style: italic;
font-size: 17px;
}
li a:hover{color: #f39c12;}
.nav-bar{ 
	list-style-type: none;
    margin: 0px ;
    padding: 20px; 
width: 100%;margin:0px;
background: #46535c;color: #8e959a;;
text-align: left;
}

   ul li{text-align: left; padding: 30px;display: inline;}
   section{overflow: hidden;}
  .submit{background:#46535c;border:none;color:white;padding: 5px;cursor: pointer;border: 1px solid #38424b;border-radius: 3px;margin:10px;}
  .submit:hover{opacity:0.9;}
   .add{background:#f39c12;border:none;color:white;padding: 5px;cursor: pointer;border: 1px solid #915B07;border-radius: 3px;margin:10px;}
  .add:hover{opacity:0.9;}
.postcode{width: 60px;}
.user{margin-left:38%;width:300px;padding: 20px;text-align: left;}

.notes{width:90%;margin:0 auto;text-align: left; }
 .address{float:left;padding: 5px;width: 300px;text-align: left;margin:2%;margin-left: 5%;}
label{font-weight:bold;	}
.exit{color: white; font-family: monospace;
font-style: italic;
font-size: 17px;float: right;
text-decoration: none;margin:20px;margin-right: 10px;
}
.exit:hover{color:#f39c12;}